a, a:visited, a:active {
  color: inherit;
  text-decoration:inherit;
}

a:hover{
  background-color: #EA4492;
}
  
img {
  display:inline;
}

body{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #041B2D;
  color:white;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  height:100%;
  width:100%;
}

#container{
  padding:10px;
  background-image: linear-gradient(#004E9A,#428CD4);
  border-radius: 5%;
  display:flex;
  flex-direction: column;
   justify-content: center;
  align-items: center;
  width:600px;
  height:70%;
}
#topContainer{
  
  display:flex;
  width:100%;

  flex:10;
}



#queryContainer{
  display:flex;
  flex-direction: column;;
  justify-content: Center;
  align-items: center;
  width:100%;
  flex:7;
  flex-direction: column;
}

#bottomContainer{
  display:flex;
  flex-direction: column;
width:100%;
  flex:10;
}

#footer{
  display:flex;
  flex:1;
  width:100%;

}
#locationDisplay{
 font-weight:bold;
  position:absolute;
  font-size: 2.5rem;
  flex:wrap;
}

#topRow {
  display:flex;
  flex-direction: column;
  position:relative;
  width:300px;
}

#queryForm{
  display:flex;
  align-items: center;
  width:100%;
}
/* text input field styling*/
#queryField{
  
  display:flex;
  font-size:1.2rem;
  flex:1;
  width:100%;
  border:0;
  height:30px;
  }

  #submitButton{
    height:34px;
    font-size:1.2rem;
  }
  

  #queryField:focus-within{
    border:0;
    outline:none;
  }



#newQuery:hover{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: #FFE5D8;
  color:#EA4492;
  cursor:grab;
}



#display{
  width:inherit;
}



#results{
  background-color: gray;
  width:100%;
}
#resultHeader{
  display:flex;
  justify-content: center;
  align-items: center;
  border:solid 1px rgb(102, 186, 237);
  width:100%;
  flex-wrap: wrap;
}
#resultContainer{
    display:flex;
    justify-content: center;
    align-items: center;
  border:solid 1px rgb(102, 186, 237);
  width:100%;
  flex-wrap: wrap;
}
#newQuery{
  display:flex;
  justify-content: center;
  align-items: center;
  border:solid 1px rgb(102, 186, 237);
  width:100%;
  flex-wrap: wrap;
}

#resultContainer:hover{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #FFE5D8;
    color:#EA4492;
    cursor:grab;
}

#tempToggle {
  border: solid 2px rgb(102, 186, 237);
  width:70px;
  display:flex;
  justify-content: center;
  height:40px;
  align-items: center;

}

#tempToggle:hover{
  background-color:#FFE5D8;
  color:#EA4492;
  cursor:grab;
}

#toggleDiv{
  display:flex;
  justify-content:center;
  align-items:center;
}